# build output
build/

# intermediate output
**/Output/
/test/**/*.yaml
!arch_spec_example.yaml
!architecture.yaml
!architecture_4x4.yaml
!architecture_1x2.yaml
!architecture_with_counter.yaml
/test/**/*.asm
/test/**/*.json
/test/**/*.dot
/test/**/*.png
.lit_test_times.txt
lit.cfg
*.dot

# vscode config
.clangd
.cache
.vscode

# misc
